apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel-upload-api
  labels:
    app.kubernetes.io/name: sentinel-upload-api
    app.kubernetes.io/part-of: sentinel-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: sentinel-upload-api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sentinel-upload-api
        app.kubernetes.io/part-of: sentinel-platform
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        - name: api
          image: sidesteperror/sentinel-upload-api:v1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: SCANNER_MODE
              value: auto
            - name: CLAMAV_HOST
              value: clamav
            - name: CLAMAV_PORT
              value: "3310"
            - name: CLAMAV_TIMEOUT_SECONDS
              value: "5"
            - name: UPLOAD_RATE_LIMIT_PER_MINUTE
              value: "10"
            - name: UPLOAD_RATE_LIMIT_WINDOW_SECONDS
              value: "60"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}
